[connectivity]
nk=PL_tiling:1:PL_tiling

sc=PL_tiling.APL_out0:ai_engine_0.A0
sc=PL_tiling.APL_out1:ai_engine_0.A1
sc=PL_tiling.APL_out2:ai_engine_0.A2
sc=PL_tiling.APL_out3:ai_engine_0.A3
sc=PL_tiling.APL_out4:ai_engine_0.A4
sc=PL_tiling.APL_out5:ai_engine_0.A5
sc=PL_tiling.APL_out6:ai_engine_0.A6
sc=PL_tiling.APL_out7:ai_engine_0.A7
sc=PL_tiling.APL_out8:ai_engine_0.A8
sc=PL_tiling.APL_out9:ai_engine_0.A9
sc=PL_tiling.APL_out10:ai_engine_0.A10
sc=PL_tiling.APL_out11:ai_engine_0.A11
sc=PL_tiling.APL_out12:ai_engine_0.A12
sc=PL_tiling.APL_out13:ai_engine_0.A13
sc=PL_tiling.APL_out14:ai_engine_0.A14
sc=PL_tiling.APL_out15:ai_engine_0.A15
sc=PL_tiling.APL_out16:ai_engine_0.A16
sc=PL_tiling.APL_out17:ai_engine_0.A17
sc=PL_tiling.APL_out18:ai_engine_0.A18
sc=PL_tiling.APL_out19:ai_engine_0.A19
sc=PL_tiling.APL_out20:ai_engine_0.A20
sc=PL_tiling.APL_out21:ai_engine_0.A21
sc=PL_tiling.APL_out22:ai_engine_0.A22
sc=PL_tiling.APL_out23:ai_engine_0.A23
sc=PL_tiling.APL_out24:ai_engine_0.A24
sc=PL_tiling.APL_out25:ai_engine_0.A25
sc=PL_tiling.APL_out26:ai_engine_0.A26
sc=PL_tiling.APL_out27:ai_engine_0.A27
sc=PL_tiling.APL_out28:ai_engine_0.A28
sc=PL_tiling.APL_out29:ai_engine_0.A29

sc=PL_tiling.BPL_out0:ai_engine_0.B0
sc=PL_tiling.BPL_out1:ai_engine_0.B1
sc=PL_tiling.BPL_out2:ai_engine_0.B2
sc=PL_tiling.BPL_out3:ai_engine_0.B3
sc=PL_tiling.BPL_out4:ai_engine_0.B4
sc=PL_tiling.BPL_out5:ai_engine_0.B5
sc=PL_tiling.BPL_out6:ai_engine_0.B6
sc=PL_tiling.BPL_out7:ai_engine_0.B7
sc=PL_tiling.BPL_out8:ai_engine_0.B8
sc=PL_tiling.BPL_out9:ai_engine_0.B9
sc=PL_tiling.BPL_out10:ai_engine_0.B10
sc=PL_tiling.BPL_out11:ai_engine_0.B11
sc=PL_tiling.BPL_out12:ai_engine_0.B12
sc=PL_tiling.BPL_out13:ai_engine_0.B13
sc=PL_tiling.BPL_out14:ai_engine_0.B14
sc=PL_tiling.BPL_out15:ai_engine_0.B15
sc=PL_tiling.BPL_out16:ai_engine_0.B16
sc=PL_tiling.BPL_out17:ai_engine_0.B17
sc=PL_tiling.BPL_out18:ai_engine_0.B18
sc=PL_tiling.BPL_out19:ai_engine_0.B19
sc=PL_tiling.BPL_out20:ai_engine_0.B20
sc=PL_tiling.BPL_out21:ai_engine_0.B21
sc=PL_tiling.BPL_out22:ai_engine_0.B22
sc=PL_tiling.BPL_out23:ai_engine_0.B23
sc=PL_tiling.BPL_out24:ai_engine_0.B24
sc=PL_tiling.BPL_out25:ai_engine_0.B25
sc=PL_tiling.BPL_out26:ai_engine_0.B26
sc=PL_tiling.BPL_out27:ai_engine_0.B27
sc=PL_tiling.BPL_out28:ai_engine_0.B28
sc=PL_tiling.BPL_out29:ai_engine_0.B29

sc=ai_engine_0.C0:PL_tiling.CPL_in0
sc=ai_engine_0.C1:PL_tiling.CPL_in1
sc=ai_engine_0.C2:PL_tiling.CPL_in2
sc=ai_engine_0.C3:PL_tiling.CPL_in3
sc=ai_engine_0.C4:PL_tiling.CPL_in4
sc=ai_engine_0.C5:PL_tiling.CPL_in5
sc=ai_engine_0.C6:PL_tiling.CPL_in6
sc=ai_engine_0.C7:PL_tiling.CPL_in7
sc=ai_engine_0.C8:PL_tiling.CPL_in8
sc=ai_engine_0.C9:PL_tiling.CPL_in9
sc=ai_engine_0.C10:PL_tiling.CPL_in10
sc=ai_engine_0.C11:PL_tiling.CPL_in11
sc=ai_engine_0.C12:PL_tiling.CPL_in12
sc=ai_engine_0.C13:PL_tiling.CPL_in13
sc=ai_engine_0.C14:PL_tiling.CPL_in14
sc=ai_engine_0.C15:PL_tiling.CPL_in15
sc=ai_engine_0.C16:PL_tiling.CPL_in16
sc=ai_engine_0.C17:PL_tiling.CPL_in17
sc=ai_engine_0.C18:PL_tiling.CPL_in18
sc=ai_engine_0.C19:PL_tiling.CPL_in19
sc=ai_engine_0.C20:PL_tiling.CPL_in20
sc=ai_engine_0.C21:PL_tiling.CPL_in21
sc=ai_engine_0.C22:PL_tiling.CPL_in22
sc=ai_engine_0.C23:PL_tiling.CPL_in23
sc=ai_engine_0.C24:PL_tiling.CPL_in24
sc=ai_engine_0.C25:PL_tiling.CPL_in25
sc=ai_engine_0.C26:PL_tiling.CPL_in26
sc=ai_engine_0.C27:PL_tiling.CPL_in27
sc=ai_engine_0.C28:PL_tiling.CPL_in28
sc=ai_engine_0.C29:PL_tiling.CPL_in29
sc=ai_engine_0.C30:PL_tiling.CPL_in30
sc=ai_engine_0.C31:PL_tiling.CPL_in31
sc=ai_engine_0.C32:PL_tiling.CPL_in32
sc=ai_engine_0.C33:PL_tiling.CPL_in33
sc=ai_engine_0.C34:PL_tiling.CPL_in34
sc=ai_engine_0.C35:PL_tiling.CPL_in35
sc=ai_engine_0.C36:PL_tiling.CPL_in36
sc=ai_engine_0.C37:PL_tiling.CPL_in37
sc=ai_engine_0.C38:PL_tiling.CPL_in38
sc=ai_engine_0.C39:PL_tiling.CPL_in39
sc=ai_engine_0.C40:PL_tiling.CPL_in40
sc=ai_engine_0.C41:PL_tiling.CPL_in41
sc=ai_engine_0.C42:PL_tiling.CPL_in42
sc=ai_engine_0.C43:PL_tiling.CPL_in43
sc=ai_engine_0.C44:PL_tiling.CPL_in44
sc=ai_engine_0.C45:PL_tiling.CPL_in45
sc=ai_engine_0.C46:PL_tiling.CPL_in46
sc=ai_engine_0.C47:PL_tiling.CPL_in47
sc=ai_engine_0.C48:PL_tiling.CPL_in48
sc=ai_engine_0.C49:PL_tiling.CPL_in49
sc=ai_engine_0.C50:PL_tiling.CPL_in50
sc=ai_engine_0.C51:PL_tiling.CPL_in51
sc=ai_engine_0.C52:PL_tiling.CPL_in52
sc=ai_engine_0.C53:PL_tiling.CPL_in53
sc=ai_engine_0.C54:PL_tiling.CPL_in54
sc=ai_engine_0.C55:PL_tiling.CPL_in55
sc=ai_engine_0.C56:PL_tiling.CPL_in56
sc=ai_engine_0.C57:PL_tiling.CPL_in57
sc=ai_engine_0.C58:PL_tiling.CPL_in58
sc=ai_engine_0.C59:PL_tiling.CPL_in59
sc=ai_engine_0.C60:PL_tiling.CPL_in60
sc=ai_engine_0.C61:PL_tiling.CPL_in61
sc=ai_engine_0.C62:PL_tiling.CPL_in62
sc=ai_engine_0.C63:PL_tiling.CPL_in63
sc=ai_engine_0.C64:PL_tiling.CPL_in64
sc=ai_engine_0.C65:PL_tiling.CPL_in65
sc=ai_engine_0.C66:PL_tiling.CPL_in66
sc=ai_engine_0.C67:PL_tiling.CPL_in67
sc=ai_engine_0.C68:PL_tiling.CPL_in68
sc=ai_engine_0.C69:PL_tiling.CPL_in69
sc=ai_engine_0.C70:PL_tiling.CPL_in70
sc=ai_engine_0.C71:PL_tiling.CPL_in71
sc=ai_engine_0.C72:PL_tiling.CPL_in72
sc=ai_engine_0.C73:PL_tiling.CPL_in73
sc=ai_engine_0.C74:PL_tiling.CPL_in74
sc=ai_engine_0.C75:PL_tiling.CPL_in75
sc=ai_engine_0.C76:PL_tiling.CPL_in76
sc=ai_engine_0.C77:PL_tiling.CPL_in77
sc=ai_engine_0.C78:PL_tiling.CPL_in78
sc=ai_engine_0.C79:PL_tiling.CPL_in79
sc=ai_engine_0.C80:PL_tiling.CPL_in80
sc=ai_engine_0.C81:PL_tiling.CPL_in81
sc=ai_engine_0.C82:PL_tiling.CPL_in82
sc=ai_engine_0.C83:PL_tiling.CPL_in83
sc=ai_engine_0.C84:PL_tiling.CPL_in84
sc=ai_engine_0.C85:PL_tiling.CPL_in85
sc=ai_engine_0.C86:PL_tiling.CPL_in86
sc=ai_engine_0.C87:PL_tiling.CPL_in87
sc=ai_engine_0.C88:PL_tiling.CPL_in88
sc=ai_engine_0.C89:PL_tiling.CPL_in89
sc=ai_engine_0.C90:PL_tiling.CPL_in90
sc=ai_engine_0.C91:PL_tiling.CPL_in91
sc=ai_engine_0.C92:PL_tiling.CPL_in92
sc=ai_engine_0.C93:PL_tiling.CPL_in93
sc=ai_engine_0.C94:PL_tiling.CPL_in94
sc=ai_engine_0.C95:PL_tiling.CPL_in95
sc=ai_engine_0.C96:PL_tiling.CPL_in96
sc=ai_engine_0.C97:PL_tiling.CPL_in97
sc=ai_engine_0.C98:PL_tiling.CPL_in98
sc=ai_engine_0.C99:PL_tiling.CPL_in99

# [clock]
# freqHz=250000000:PL_tiling.ap_clk
# tolerance=1000000:PL_tiling.ap_clk

[vivado]


# prop=run.synth_1.strategy=Flow_PerfOptimized_high
# prop=run.impl_1.strategy=Performance_Auto_1

# prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=EarlyBlockPlacement

prop=run.impl_1.STEPS.OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=Explore

prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=EarlyBlockPlacement

prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore

prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=AggressiveExplore

prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore       
       

